USE [CinemaAutomation3421DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28.09.2019 01:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserProfiles]    Script Date: 28.09.2019 01:11:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserProfiles](
	[ID] [int] NOT NULL,
	[UserFirstName] [nvarchar](max) NULL,
	[UserLastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Sex] [int] NOT NULL,
	[BirthDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppUserProfiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 28.09.2019 01:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IsBanned] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NULL,
	[UserRole] [int] NOT NULL,
	[SmsMessage] [bit] NOT NULL,
	[UserComment] [nvarchar](350) NULL,
	[Email] [nvarchar](max) NULL,
	[ConfirmedDate] [datetime] NULL,
	[MembershipProgress] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[EmailID] [int] NOT NULL,
	[ResetPasswordCode] [uniqueidentifier] NULL,
	[ConfirmPassword] [nvarchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28.09.2019 01:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmpFirstName] [nvarchar](20) NOT NULL,
	[EmpLastName] [nvarchar](20) NOT NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Title] [nvarchar](max) NULL,
	[TitleOfCourtesy] [nvarchar](max) NULL,
	[Extensions] [nvarchar](4) NULL,
	[Photo] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[ReportsTo] [int] NULL,
	[Address] [nvarchar](300) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 28.09.2019 01:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Genres] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 28.09.2019 01:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](50) NOT NULL,
	[ScreenTime] [int] NOT NULL,
	[ShowDate] [datetime] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NOT NULL,
	[Actors] [nvarchar](max) NULL,
	[Format] [nvarchar](max) NULL,
	[MovieSummary] [nvarchar](1000) NULL,
	[MovieComment] [nvarchar](500) NULL,
	[IsPlaying] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[GenreID] [int] NOT NULL,
	[Rating] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieSeans]    Script Date: 28.09.2019 01:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieSeans](
	[MovieID] [int] NOT NULL,
	[SeansID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MovieSeans] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salons]    Script Date: 28.09.2019 01:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salons](
	[SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SalonNumber] [smallint] NOT NULL,
	[Capacity] [smallint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[Movie_MovieID] [int] NULL,
 CONSTRAINT [PK_dbo.Salons] PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalonSeans]    Script Date: 28.09.2019 01:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalonSeans](
	[SalonID] [int] NOT NULL,
	[SeansID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SalonSeans] PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC,
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seans]    Script Date: 28.09.2019 01:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans](
	[SeansID] [int] IDENTITY(1,1) NOT NULL,
	[SeansTime] [datetime] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Seans] PRIMARY KEY CLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 28.09.2019 01:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[SeatNumber] [varbinary](2) NOT NULL,
	[SeatLetter] [varbinary](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[Salon_SalonID] [int] NULL,
	[Ticket_TicketID] [int] NULL,
 CONSTRAINT [PK_dbo.Seats] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialDays]    Script Date: 28.09.2019 01:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialDays](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Day] [datetime] NOT NULL,
	[DayName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SpecialDays] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 28.09.2019 01:11:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketSalesType] [int] NOT NULL,
	[TicketPrice] [decimal](18, 2) NOT NULL,
	[TicketCount] [smallint] NOT NULL,
	[TicketGenre] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Date] [datetime] NULL,
	[Status] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[AppUserProfile_ID] [int] NULL,
	[Employee_EmployeeID] [int] NULL,
	[Movie_MovieID] [int] NULL,
	[Salon_SalonID] [int] NULL,
	[TicketDay] [datetime] NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AppUserProfiles] ([ID], [UserFirstName], [UserLastName], [Address], [Phone], [Sex], [BirthDate], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (1, N'Doruk', N'Toköz', N'tasdfdd', N'533683921', 0, NULL, CAST(N'2019-09-12T03:05:17.360' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[AppUserProfiles] ([ID], [UserFirstName], [UserLastName], [Address], [Phone], [Sex], [BirthDate], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (2, N'Sevim', N'Objektif', N'Esenler', N'5338621345', 2, NULL, CAST(N'2019-09-12T14:14:45.350' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[AppUserProfiles] ([ID], [UserFirstName], [UserLastName], [Address], [Phone], [Sex], [BirthDate], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (3, N'Devrim Güneş', N'SIVACI', N'Kadıköy,Mühürdar Cd.', N'5325459821', 2, NULL, CAST(N'2019-09-12T14:23:44.437' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

INSERT [dbo].[AppUsers] ([UserName], [Password], [IsBanned], [IsActive], [ActivationCode], [UserRole], [SmsMessage], [UserComment], [Email], [ConfirmedDate], [MembershipProgress], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy], [EmailID], [ResetPasswordCode], [ConfirmPassword], [ID]) VALUES (N'cagri123', N'123456', 0, 0, N'b8a3f0a9-338f-40cd-9429-928fa6d1193b', 2, 1, NULL, N'tano7499@hotmail.com', NULL, 2, CAST(N'2019-09-28T00:09:02.200' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL, 0, NULL, N'123456', 1)
INSERT [dbo].[AppUsers] ([UserName], [Password], [IsBanned], [IsActive], [ActivationCode], [UserRole], [SmsMessage], [UserComment], [Email], [ConfirmedDate], [MembershipProgress], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy], [EmailID], [ResetPasswordCode], [ConfirmPassword], [ID]) VALUES (N'sevo123', N'sevim123', 0, 1, N'23f7b3a8-d781-4c0e-b2c1-e5d0d7005838', 1, 0, NULL, N'sevimobjektif@outlook.com', NULL, 2, CAST(N'2019-09-12T14:14:45.280' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL, 0, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [EmpFirstName], [EmpLastName], [BirthDate], [HireDate], [Title], [TitleOfCourtesy], [Extensions], [Photo], [PhotoPath], [ReportsTo], [Address], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (1, N'Devrim Güneş', N'Sıvacı', CAST(N'1977-07-18T00:00:00.000' AS DateTime), NULL, N'Boss/CEO', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, N'Devrim Güneş Sıvacı', NULL, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [EmpFirstName], [EmpLastName], [BirthDate], [HireDate], [Title], [TitleOfCourtesy], [Extensions], [Photo], [PhotoPath], [ReportsTo], [Address], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (2, N'Sevim ', N'Objektif', CAST(N'1988-08-12T00:00:00.000' AS DateTime), CAST(N'2008-03-16T00:00:00.000' AS DateTime), N'Departman Müdürü', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, N'Devrim Güneş Sıvacı', NULL, N'Devrim Güneş SIVACI')
INSERT [dbo].[Employees] ([EmployeeID], [EmpFirstName], [EmpLastName], [BirthDate], [HireDate], [Title], [TitleOfCourtesy], [Extensions], [Photo], [PhotoPath], [ReportsTo], [Address], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (3, N'Ayşen', N'HIZLI', NULL, NULL, N'Gişe Görevlisi', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2019-09-23T02:04:04.650' AS DateTime), NULL, CAST(N'2019-09-23T02:04:10.260' AS DateTime), NULL, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (1, N'Biyografi', NULL, CAST(N'2019-09-23T16:53:16.413' AS DateTime), CAST(N'2019-09-23T16:53:16.413' AS DateTime), NULL, NULL, 3, NULL, NULL, NULL)
INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (2, N'Aksiyon', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (3, N'Drama', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Genres] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Salons] ON 

INSERT [dbo].[Salons] ([SalonID], [SalonNumber], [Capacity], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy], [Movie_MovieID]) VALUES (1, 1, 48, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Salons] ([SalonID], [SalonNumber], [Capacity], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy], [Movie_MovieID]) VALUES (2, 2, 48, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Salons] ([SalonID], [SalonNumber], [Capacity], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy], [Movie_MovieID]) VALUES (3, 3, 48, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Salons] OFF
SET IDENTITY_INSERT [dbo].[Seans] ON 

INSERT [dbo].[Seans] ([SeansID], [SeansTime], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (1, CAST(N'2019-09-27T10:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Seans] ([SeansID], [SeansTime], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (2, CAST(N'2019-09-27T11:30:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Seans] ([SeansID], [SeansTime], [CreatedDate], [ModifiedDate], [DeletedDate], [Date], [Status], [CreatedBy], [ModifiedBy], [DeletedBy]) VALUES (3, CAST(N'2019-09-27T12:30:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Seans] OFF
ALTER TABLE [dbo].[AppUsers] ADD  DEFAULT ((0)) FOR [EmailID]
GO
ALTER TABLE [dbo].[AppUserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserProfiles_dbo.AppUsers_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[AppUsers] ([ID])
GO
ALTER TABLE [dbo].[AppUserProfiles] CHECK CONSTRAINT [FK_dbo.AppUserProfiles_dbo.AppUsers_ID]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movies_dbo.Genres_GenreID] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_dbo.Movies_dbo.Genres_GenreID]
GO
ALTER TABLE [dbo].[MovieSeans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieSeans_dbo.Movies_MovieID] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieSeans] CHECK CONSTRAINT [FK_dbo.MovieSeans_dbo.Movies_MovieID]
GO
ALTER TABLE [dbo].[MovieSeans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieSeans_dbo.Seans_SeansID] FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seans] ([SeansID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieSeans] CHECK CONSTRAINT [FK_dbo.MovieSeans_dbo.Seans_SeansID]
GO
ALTER TABLE [dbo].[Salons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Salons_dbo.Movies_Movie_MovieID] FOREIGN KEY([Movie_MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Salons] CHECK CONSTRAINT [FK_dbo.Salons_dbo.Movies_Movie_MovieID]
GO
ALTER TABLE [dbo].[SalonSeans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalonSeans_dbo.Salons_SalonID] FOREIGN KEY([SalonID])
REFERENCES [dbo].[Salons] ([SalonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalonSeans] CHECK CONSTRAINT [FK_dbo.SalonSeans_dbo.Salons_SalonID]
GO
ALTER TABLE [dbo].[SalonSeans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalonSeans_dbo.Seans_SeansID] FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seans] ([SeansID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalonSeans] CHECK CONSTRAINT [FK_dbo.SalonSeans_dbo.Seans_SeansID]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seats_dbo.Salons_Salon_SalonID] FOREIGN KEY([Salon_SalonID])
REFERENCES [dbo].[Salons] ([SalonID])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_dbo.Seats_dbo.Salons_Salon_SalonID]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seats_dbo.Tickets_Ticket_TicketID] FOREIGN KEY([Ticket_TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_dbo.Seats_dbo.Tickets_Ticket_TicketID]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.AppUserProfiles_AppUserProfile_ID] FOREIGN KEY([AppUserProfile_ID])
REFERENCES [dbo].[AppUserProfiles] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.AppUserProfiles_AppUserProfile_ID]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Employees_Employee_EmployeeID] FOREIGN KEY([Employee_EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Employees_Employee_EmployeeID]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Movies_Movie_MovieID] FOREIGN KEY([Movie_MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Movies_Movie_MovieID]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tickets_dbo.Salons_Salon_SalonID] FOREIGN KEY([Salon_SalonID])
REFERENCES [dbo].[Salons] ([SalonID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_dbo.Tickets_dbo.Salons_Salon_SalonID]
GO
